body {
font-family: "Roboto", sans-serif;
   color: #434455;
   background-color: #fff;
}
ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 p {
    margin: 0;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1158px ;
    padding: 0 15px;
    margin: 0 auto;
}

.page-header {
display: block;
    border-bottom: 1px solid #e7e9fc;
}
.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}
.header-logo .logo-part {
    color: #2e2f42;
}
.footer-logo .logo-part {
    color: #f4f4fd;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-link {
    padding: 24px 0;
    display: block;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
color: #404bbf;
}
.contacts {
    font-style: normal;
    margin-left: auto;
}
.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

main {
    font-family: "Roboto", sans-serif;
}

.header-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 188px;
        padding-bottom: 188px;

}
.hero-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
        text-align: center;
        justify-content: center;
        padding-top: 188px;
        padding-bottom: 188px;
        margin: 0 auto;
}

.hero .hero-text {
    text-align: center;
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 48px;  
        max-width: 496px;
}

.hero-button {
  display: block;
    cursor: pointer;
    min-width: 169px;
    min-height: 56px;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4d5ae5;
        padding: 16px 32px;
        border: none;
        border-radius: 4px;
}
.hero .hero-button:hover,
.hero .hero-button:focus {
    background-color: #404bbf;
}
.hero ,.page-footer {
    background-color: #2e2f42;
}
.benefits-section {
    padding: 120px 0;
}
.benefits-title {
visually:hidden;
display: none;
}
.benefits-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    list-style: none;
    width: calc((100% - 72px) / 4);
    padding: 0 auto;
    margin: 0 auto;
}
.benefits-items {
box-sizing: border-box;
width: calc((100% - 72px) / 4);

   }
.benefits .benefits-subtitle {
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}
.benefits-text, .portfolio-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.team .team-list li {
    background-color: #FFFFFF;
}
.team .team-title {
    line-height: 1.11;
    margin-bottom: 72px;
}
.team-list {
    display: flex;
     justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.team-list .our-team-member {
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    text-align: center;
}
.team .our-team-member img {
    display: block;
    width: 100%;
    margin-bottom: 32px;
}

.team .our-team-name {
    text-align: center;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 8px;
}
.team .our-team-text {
    text-align: center;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        margin:8px 0 32px 0;
}
.portfolio {
background-color: #FFFFFF;
padding: 120px 0;
}
.portfolio-title {
    margin-bottom: 72px;
}
.list-portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-member {
    border: 1px solid #e7e9fc;
    overflow: hidden;
    width: calc((100% - 80px) / 3);
}
.portfolio-member img {
    display: block;
}
.portfolio-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px;
    margin-left: 16px;
    text-align: left;
}
.portfolio .team-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-left: 16px;
    text-align: left;
}

.page-footer {
    align-items: center;
    justify-content: flex-start;
    padding: 100px 0;
}
.footer-logo {
    display: inline-block;
    text-decoration: none;
    text transform: uppercase;
    display: inline-block;
    margin-top: 100px;
    margin-bottom: 16px;
    
}
 .footer-text {
    font-weight: 400;
    max-width: 264px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}
